#aqui es donde configuraremos todos los microservicios de la app
version: '3.9'

services:
  product-service:
    container_name: product-service
    build:
      context: ./ProductService
      dockerfile: Dockerfile
    ports:
      - "8001:8080"
    depends_on:
      - product-db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__ProductDatabase: >
        Server=product-db;
        Database=ProductDb;
        User Id=sa;
        Password=Your_password123;
        TrustServerCertificate=True;

  product-db:
    container_name: product-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - product-db-data:/var/opt/mssql

volumes:
  product-db-data:
